@font-face {
    font-family: 'Norse-Bold';
    src: url('./assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --btn-color: #596D48;
    --red-border: red;
    --green-border: green;
    --yellow-border: rgba(234, 194, 15, 0.695);
    --input-border: #E5E7EB;
    --text-font: "Inter", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Seoge UI", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: var(--text-font);
}

.logo-section {
    position: relative;
    flex: 1;
}

.logo-section .bg-img {
    max-width: 100%;
    height: 100%;
    
    position: absolute;
    z-index: -1;
}

.para {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;

    top: 20%;
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Norse-Bold';
}

.credits {
    display: flex;
    justify-content: center;
    top: 90%;
    position: absolute;
    width: 100%;
    color: white;
    font-family: var(--text-font);
}

.para p {
    align-self: center;
    font-size: 90px;
}

.content-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-div {
    flex: 1;
    padding: 30px;
}

.heading {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 50ch;
    font-weight: 600;
    font-size: 1.5rem;
}

.heading p {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 1px 3px 2px #d8d7d7;
}

.form-row {
    padding: 10px 0px;
    display: flex;
    gap: 75px;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form h1 {
    font-size: 1.5rem;
}

.form-row label {
    font-size: 0.8rem;
    letter-spacing: 1.8px;
    font-weight: 450;
    margin-bottom: 5px;
}

.form-row input {
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 5px;
    width: 30ch;
}

button {
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--btn-color);
    font-weight: 700;
    margin-bottom: 20px;
}
button:hover {
    background-color: #6B8157;
}
button:active {
    background-color: #4A5C3C;
}

a {
    color: var(--btn-color);
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: #6B8157;
}

input {
    outline: 2px solid transparent;
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--red-border);
}

input:not(:placeholder-shown):valid {
    outline-color: var(--green-border);
}

input:focus:invalid {
    outline-color: var(--yellow-border);
    box-shadow: 2px 2px 3px 2px #b4b3b3;
}